<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="javascript/script_addproducts.js"></script>
    <script defer src="script_nav.js"></script>
</head>
<body>
    <nav class="navbar">
    </nav>
    <div class="credentials">
        <h1>Add Products</h1>
        <form id="add_products_form">
            <input type="text" placeholder="Enter Product name" class="inputbox" id="add_product_name"></input>
            <input type="number" placeholder="Enter Product price" class="inputbox" id="add_product_price"></input>
            <input type="text" placeholder="Enter Product category" class="inputbox" id="add_product_category"></input>
            <input type="text" placeholder="Enter Product company" class="inputbox" id="add_product_company"></input>
            <button type="'submit" class="button">Add Product</button>
        </form>
    </div>
</body>
</html>