<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="javascript/script_base.js"></script>
    <script defer src="script_nav.js"></script>
</head>
<body>
    <nav class="navbar">
    </nav>
    <div class="credentials">
        <h1>Signup</h1>
        <form id="signup_form">
            <input type="text" placeholder="Enter your name" class="inputbox" id="signup_name"></input>
            <input type="email" placeholder="Enter your email" class="inputbox" id="signup_email"></input>
            <input type="password" placeholder="Enter your password" class="inputbox" id="signup_password"></input>
            <button type="'submit" class="button">Submit</button>
        </form>
    </div>
</body>
</html>